p, label {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-size: .9765625vw;
}
body {
  font-size: 1.6rem;
  /* width: 100%; */÷
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  display: block;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
}

.portfolio-header {
  height: 48rem;
}

.header-image {
  position: relative;
  height: 50rem;
  text-align: center;
}

.header-image > img{
  width: 100%;
}

nav {
  display: none !important;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  background: #1e1f1c;
  font-size: 1.4rem;
}

.logo > img {
  width: 7rem;
}

.a-links > a {
  color: #fff;
  margin-right: 1rem;
}

#vs-code-writing {
  position: absolute;
  top: 4.9rem;
  left: 34.9rem;
  text-align: left;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  color: #b3b3b3;
  z-index: 2;
  font-size: 1rem;
  line-height: 1.59;
}

.image-links {
  left: 1rem;
  top: 6.5rem;
  position: absolute;
  background: #272822;
}

.image-links > img {
  border-radius: .3rem;
  margin-bottom: 1rem;
  filter: grayscale(100%);
  width: 2.5rem;
  display: flex;
  flex-direction: column;
}

.type-writer {
  width: auto;
  display: block !important;
  overflow: hidden;
  border-right: .15em solid #b3b3b3;
  white-space: nowrap;
  margin: 0;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color:#b3b3b3;}
}

/* CSS FOR PANEL */
.panel {
  padding: 6rem 0rem 8rem;
  width: 100%;
  background: #E2E2E2;
  text-align: center;
}

.panel-header {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: 'EB Garamond', serif;
}

.panel-description {
  width: 72rem;
  font-family: 'Cairo', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.4;
}

.projects {
  /* max-width: 1440px; */
  text-align: center;
  padding: 10rem 5rem;
}

.project-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.project {
  width: 28rem;
  height: 28rem;
  position: relative;
  display: flex;
  justify-content: center;
}


.project > .image-container {
  display: flex;
  align-items: center;
}
.project > .image-container > img {
  width: 28.2rem;
  /* filter: grayscale(100%); */
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.2rem solid #383838; */
}

/* .absolute { */
  /* position: absolute; */
/* } */

.show-hover {
  display: flex;
  padding: 6rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  color: #fff;
  z-index: 2;
}
h3 {
  font-size: 1.9rem;
  font-weight: 400;

  /* top: 4rem; */
}

h4 {
  text-align: center;
  font-size: 1.1rem;
  border: 0.2rem solid #fff;
  padding: 1rem 0;
  font-weight: 400;
  width: 13rem;
  margin: 0.7rem;
}

.project:hover .image-container {
  filter: grayscale(100%) brightness(18%);
  transition: all 0.5s ease;
}

.project:hover .show-hover {
  visibility: visible;
}

.flip-container {
  perspective: 1000px;
}
	/* flip the pane when hovered */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  border: 0.2rem solid #383838;
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
}

.back {
  position: absolute;
  top: 0;
  flex-direction: column;
  height: 28rem;
  width: 28rem;
  /* padding: 1rem; */
}

.back-container {
  text-align: center;
  padding: 1rem;
  font-family: 'PT Sans', sans-serif;
}

.back-container > .header {
  font-size: 2rem;
}
.back-container > a {
  color: #0044ff;
  font-size: 1.3rem;
}

.back-container > p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#about-me {
  text-align: center;
}

#lets-connect {
  text-align: center;
}

.icons {
  padding: 5rem 0;
}

.icons img {
  width: 8rem;
  margin-left: 4rem;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.section-header::before,
.section-header::after {
  content: '------'
}

/* My Journey Section */
.my-story {
  position: relative;
  height: 65.1rem;
  overflow: hidden;
}

.backdrop {
  width: 100%;
}

.quickdraw {
  display: none;
  position: absolute;
  width: 0.65rem;
}

.quickdraw1 {
  left: 4.8rem;
  bottom: 3.4rem;
  transform: rotate(-48.4deg);
}

.quickdraw2 {
  left: 5.1rem;
  bottom: 10.4rem;
  transform: rotate(-48.4deg);
}

.quickdraw3 {
  left: 9.9rem;
  bottom: 15.8rem;
  transform: rotate(-48.2deg);
}

.quickdraw4 {
  left: 11.6rem;
  bottom: 22rem;
  transform: rotate(-78.6deg);
}

.quickdraw5 {
  left: 13.4rem;
  bottom: 26.4rem;
  transform: rotate(-35.6deg);
}

.quickdraw6 {
  left: 16.5rem;
  bottom: 31rem;
}

.quickdraw7 {
  left: 17.6rem;
  bottom: 35.1rem;
  width: 0.8rem;
}



.quickdraw1:hover, .quickdraw2:hover, .quickdraw3:hover {
  transform: rotate(-48.4deg) scale(1.5);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}

.quickdraw4:hover {
  transform: rotate(-78.6deg) scale(1.5);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}

.quickdraw5:hover {
  transform: rotate(-35.6deg) scale(1.5);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}

.quickdraw6:hover, .quickdraw7:hover {
  transform: scale(1.5);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.02, 2.17);
}


.rock, .climber {
  bottom: 0;
  left: 0;
  position: absolute;
}

.rock {
  left: -20rem;
  width: 20rem;
}

.rock-animation {
  left: 0;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
   -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
       transition: all 0.7s ease-out;
}

.climber {
  display: none;
  left: -5rem;
  width: 14.5rem;
  bottom: -23rem;
}

.climber-animation {
  display: flex;
  left: 4rem;
  bottom: 0;
  -webkit-animation: climb 2s ease-out;
	-moz-animation: climb 2s ease-out;
  animation: climb 2s ease-out;
  animation-name: climb;
  animation-timing-function: steps(6);
}


@-webkit-keyframes climb {
  0% {
    left: -5rem;
    bottom: -23rem;
  }
  100% {
    left: 4rem;
    bottom: 0;
  }
}

.life-event {
  position: absolute;
  display: flex;
  background: #fcff2f;
}

.life-event > p {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  width: 40rem;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1rem;
  line-height: 1.1;
  font-weight: 800;
}

.life-event1 {
  display: none;
  bottom: 2.3rem;
  left: 7.6rem;
}

.life-event2 {
  display: none;
  bottom: 9rem;
  left: 9rem;
}

.life-event3 {
  display: none;
  bottom: 14.9rem;
  left: 13rem;
}

.life-event4 {
  display: none;
  bottom: 21.9rem;
  left: 15rem;
}

.life-event5 {
  display: none;
  bottom: 25.9rem;
  left: 19rem;
}

.quickdraw1:hover + .life-event1,
.quickdraw2:hover + .life-event2,
.quickdraw3:hover + .life-event3,
.quickdraw4:hover + .life-event4,
.quickdraw5:hover + .life-event5 {
  display: flex;
  -webkit-animation: fadeIn 1s ease-out;
	-moz-animation: fadeIn 1s ease-out;
	animation: fadeIn 1s ease-out;
}

.quickdraw::before {
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 .75rem .4rem #fff,  /* inner white */
    0 0 1.25rem .75rem #f0f, /* middle magenta */
    0 0 1.75rem 1.125rem #0ff; /* outer cyan */
}

.rabbit-cloud {
  position: absolute;
  top: 0;
  width: 48rem;
  right: -50rem;
  /* right: 100rem; */
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	/* -webkit-transform: scale(0.65); */
}


@-webkit-keyframes animateCloud {
  0% {
      right: -50rem;
  }
  100% {
      right: 100rem;
  }
}

.quickdraw-animation {
  /* position: absolute; */
  /* border-radius: 50%; */
  /* background-color: #fff; */
  -webkit-animation: quickdraw 1s ease-out infinite;
	-moz-animation: quickdraw 1s ease-out infinite;
	animation: quickdraw 1s ease-out infinite;
}


@-webkit-keyframes quickdraw {
  0% {
    width: .4rem;
  }
  100% {
    width: .6rem;
  }
}

#my-values {
  display: none;
  position: absolute;
  top: 11rem;
  right: 34rem;
  font-size: 2.2rem;
}

#my-values.show {
  display: block;
  -webkit-animation: fadeIn 2s ease-out;
	-moz-animation: fadeIn 2s ease-out;
	animation: fadeIn 2s ease-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

#my-values > #header {
  font-size: 2.4rem;
}

#my-values > a {
  font-family: 'Cairo', sans-serif;
  text-decoration: none;
  color: #000000;
}

#my-values > a::after {
  content: '\A';
  white-space: pre;
}

#my-values > a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container {

  }
}
